* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; 
}

.app{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 8px #ffffff;
  
}

.title{
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  font-style: italic ;
  font-size: x-large;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.527);;
}

.color{
  color:#ffffff;
  opacity: 0.9;
}
.line{
  border-style: none;
}

.cookies-card {
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 0;
  max-width: 500px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 60px;
  background-color: #ffffff;
  opacity: 0.9;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
}

.cookies-phrase{
  overflow:hidden
}

.cookies-phrase .cookies-phrase1 .cookies-phrase2{
  text-align: left;
  padding-left: 2.5rem;
  
}

.cookies-phrase1 {
 margin-top: 30px;
 animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: inherit;
}

.cookies-phrase2{
margin-top: 20px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.button1 {
  background-color: white;
  opacity: 0.6;
  padding: 0.5rem 1rem;
  display: block;
  margin: auto;
  width: 100px;
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}